RABBITMQ_URL=amqps://user:password@host.lmq.cloudamqp.com/vhost
RABBITMQ_PREFETCH_COUNT=10
RABBITMQ_RECONNECT_DELAY=5.0
RABBITMQ_MAX_RETRIES=5

APP_NAME=communication
LOG_LEVEL=INFO
HTTP_PORT=8000

META_VERIFY_TOKEN=your_verify_token_here
META_ACCESS_TOKEN=your_meta_access_token_here
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id_here
